<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package botId="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package botId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package botId="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package botId="Telegram.Bot" version="10.4.0" targetFramework="net452" />
</packages>